.hidden {
    display: none;
}

body {
    background-image: url(assets/bg.png);
}

form {
    margin: auto;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: none;
}

.startButton {
    background-color: #f44336;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #f44336;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 252px;
}

.startButton:hover {
    background-color: white;
    color: black;
}

#button0, #button1, #button2, #button3, #button4 {
    position: relative;
    height: 100px;
    width: 100px;
    cursor: pointer;
    background: none;
    border: none;

}

#button0 {
    left: -505px;
    bottom: 103px
}

#button1 {
    left: -505px;
    bottom: 103px;
}

#button2 {
    left: -505px;
    bottom: 103px;
}

#button3 {
    left: -505px;
    bottom: 103px;
}

#button4 {
    left: 700px;
    bottom: 204px;
}

img {
    position: relative;
    left: -98px;
    bottom: 204px;
    margin-right: 1px;
}

#orderDiv {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 200px;
    top: 8px;
    height: 95px;
    width: 250px;

}

#controllerDiv {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 200px;
    top: 250px;
    height: 95px;
    width: 250px;

}